<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>html_form</h1>

        <form method="POST">
            {% csrf_token %}
            <label for="un">username</label>
            <input type="text" name="usn" id="un"><br>
            <label for="pw">password</label>
            <input type="password" name="psw" id="pw"><br>
            
            <input type="submit" value="Submit">
        </form>













    </center>
</body>
</html>